@media (max-width: 1366px) {
    .banner {
        &__image-bg img {
            max-width: 528px;
        }
    }
}

@media (max-width: 1280px) {
    .container {
        margin: 0 50px;
    }
    .header {
        &__box {
            margin-left: 100px;
        }
    }
    .menu {
        margin-left: 100px;
    }
    .banner {
        &__info {
            padding-top: 0;
        }
        &__info-btn {
            padding: 16px 45px;
        }
        &__image-bg img {
            max-width: 428px;
        }
    }
    .about-service {
        &__inner {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
    .qrcode {
        &__box {
            max-width: 620px;
        }
        &__box:first-child,
        &__box:last-child {
            max-width: 400px;
        }
        &__img-tip-on-the-link {
            max-width: 570px;
        }
        &__img-integration-1 {
            max-width: 250px;
        }
        &__img-integration-2 {
            max-width: 210px;
        }
    }
}

@media (max-width: 1152px) {
    h1,
    .title {
        font-size: 42px;
        line-height: 48px;
    }
    .title {
        margin-bottom: 50px;
    }
    .header {
        &__box {
            margin-left: 50px;
        }
        &__btn-login {
            padding: 10px 30px;
            min-width: 100px;
        }
    }
    .menu {
        margin-left: 30px;
    }
    .banner {
        margin-bottom: 60px;
        &__inner {
            padding: 57px 0 49px 100px;
        }
        &__info-btn {
            padding: 16px 35px;
        }
        &__image-bg img {
            max-width: 378px;
        }
        &__image::before {
            left: 20px;
            bottom: 20px;
            width: 150px;
            height: 150px;
        }
        &__image-smileyface {
            right: 70px;
        }
        &__image-qrcode {
            left: 130px;
            bottom: 25px;
            width: 90px;
            height: 90px;
        }
        &__image-qrcode img {
            width: 50px;
            height: 50px;
        }
    }
    .content-block {
        margin-bottom: 60px;
        &__img img {
            max-width: 490px;
        }
        &__inner.reverse .content-block__info {
            padding-left: 100px;
        }
    }
    .about-service {
        padding: 60px 0;
    }
    .qrcode {
        padding: 60px 0;
    }
    .qrcode {
        &__box {
            max-width: 560px;
        }
        &__box:first-child,
        &__box:last-child {
            max-width: 350px;
        }
        &__img-tip-on-the-link {
            max-width: 515px;
        }
        &__img-integration-1 {
            max-width: 210px;
        }
        &__img-integration-2 {
            max-width: 185px;
        }
    }
    .tariffs {
        padding: 60px 0;
    }
    .trust-us {
        padding: 60px 0;
    }
    .media-about-us {
        padding: 60px 0;
    }
    .connection {
        &__inner {
            padding: 60px 0;
        }
    }
    .footer {
        &-top__box {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        &-form__inner {
            margin-left: 30px;
        }
        &-bottom__payinfo-text {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 14px;
        line-height: 20px;
    }
    h1,
    .title {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        font-size: 30px;
        line-height: 38px;
    }
    h4 {
        font-size: 28px;
        line-height: 34px;
    }
    h5 {
        font-size: 18px;
        line-height: 24px;
    }
    .container {
        margin: 0 40px;
    }
    .header {
        font-size: 14px;
        line-height: 20px;
        &__box {
            margin-left: 30px;
        }
        &__btn-login {
            padding: 7px 20px;
            min-width: 75px;
        }
    }
    .menu {
        margin-left: 0;
        li {
            margin-left: 20px;
        }
    }
    .banner {
        &__info-title {
            margin-bottom: 20px;
        }
        &__info-btn {
            padding: 10px 15px;
        }
        &__image-bg img {
            max-width: 338px;
        }
        &__image-smileyface {
            right: 75px;
            top: 5px;
            width: 48px;
            height: 48px;
        }
        &__image-smileyface img {
            position: absolute;
            width: 38px;
            height: 38px;
        }
        &__image-qrcode {
            border: 5px solid #FFFFFF;
            width: 70px;
            height: 70px;
            left: 110px;
        }
        &__image-qrcode img {
            width: 40px;
            height: 40px;
        }
        &__image::before {
            left: 30px;
            bottom: 25px;
            width: 100px;
            height: 100px;
        }
    }
    .content-block {
        &__img img {
            max-width: 390px;
        }
        &__info-subtitle {
            padding-right: 50px;
        }
        &__inner.reverse .content-block__info {
            padding-left: 50px;
        }
    }
    .qrcode {
        &__box {
            max-width: 440px;
        }
        &__box:first-child,
        &__box:last-child {
            max-width: 300px;
        }
        &__img-tip-on-qrcode,
        &__img-integration-with-software {
            max-width: 170px;
        }
        &__img-tip-on-the-link {
            max-width: 390px;
        }
        &__img-integration-1 {
            max-width: 150px;
        }
        &__img-integration-2 {
            max-width: 135px;
        }
    }
    .tariffs {
        &__content {
            padding: 20px;
            max-width: 420px;
        }
        &__content-info {
            max-width: 280px;
        }
        &__content-title {
            font-size: 21px;
            line-height: 28px;
        }
        &__content-link {
            font-size: 14px;
            line-height: 18px;
            padding: 15px 35px;
        }
        &__content-discount {
            font-size: 40px;
            line-height: 45px;
            width: 90px;
            height: 90px;
            margin-left: 10px;
        }
        &__image {
            margin-left: 30px;
        }
    }
}

@media (max-width: 854px) {
    h3 {
        font-size: 28px;
        line-height: 32px;
    }
    h4 {
        font-size: 26px;
        line-height: 34px;
    }
    .title {
        margin-bottom: 40px;
    }
    .header {
        font-size: 12px;
        line-height: 18px;
    }
    .banner {
        margin-bottom: 50px;
        &__inner {
            padding: 57px 0 49px 50px;
        }
        &__image-bg img {
            max-width: 328px;
        }
    }
    .content-block {
        margin-bottom: 50px;
        &__img img {
            max-width: 350px;
        }
        &__info {
            padding-right: 30px;
        }
        &__inner.reverse .content-block__info {
            padding-left: 30px;
        }
        &__info-link {
            font-size: 14px;
        }
        &__info-list {
            margin-bottom: 20px;
        }
        &__info-btn {
            padding: 14px 30px;
        }
    }
    .about-service {
        padding: 50px 0;
    }
    .qrcode {
        padding: 50px 0;
        &__box {
            max-width: 420px;
            padding: 20px;
        }
        &__box:first-child,
        &__box:last-child {
            max-width: 270px;
        }
        &__img-tip-on-qrcode,
        &__img-integration-with-software {
            max-width: 170px;
        }
        &__img-tip-on-the-link {
            max-width: 390px;
        }
        &__img-integration-1 {
            max-width: 150px;
        }
        &__img-integration-2 {
            max-width: 135px;
        }
        &__box-item {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .tariffs {
        padding: 50px 0;
        &__content-info {
            max-width: 260px;
        }
    }
    .trust-us {
        padding: 50px 0;
    }
    .media-about-us {
        padding: 50px 0;
    }
    .connection {
        &__inner {
            padding: 50px 0;
        }
    }
    .footer {
        &-bottom__payinfo-icons img+img {
            margin-left: 0;
        }
        &-bottom__social a+a {
            margin-left: 10px;
        }
    }
}

@media (max-width: 800px) {
    h1,
    .title {
        font-size: 30px;
        line-height: 38px;
    }
    .banner {
        &__image-bg img {
            max-width: 318px;
        }
    }
    .qrcode {
        &__box {
            max-width: 395px;
        }
        &__box:first-child,
        &__box:last-child {
            max-width: 260px;
        }
        &__img-tip-on-qrcode,
        &__img-integration-with-software {
            max-width: 160px;
        }
        &__img-tip-on-the-link {
            max-width: 370px;
        }
        &__img-integration-1 {
            max-width: 140px;
        }
        &__img-integration-2 {
            max-width: 125px;
        }
    }
    .tariffs {
        &__content-info {
            max-width: 240px;
        }
        &__image {
            margin-left: 20px;
        }
        &__content-text {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
        line-height: 28px;
    }
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
    h3 {
        font-size: 36px;
        line-height: 42px;
    }
    h4 {
        font-size: 32px;
        line-height: 42px;
    }
    h5 {
        font-size: 20px;
        line-height: 28px;
    }
    .title {
        font-size: 48px;
        line-height: 56px;
    }
    .container {
        margin: 0 20px;
    }
    .header {
        &__inner {
            justify-content: space-between;
        }
        .logo {
            margin-left: 20px;
        }
    }
    .menu {
        display: none;
        &__list {
            display: block;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: #fff;
            width: 100%;
            height: 260px;
            padding-bottom: 20px;
            font-size: 18px;
            line-height: 28px;
        }
        &__item {
            margin-bottom: 10px;
        }
        a {
            display: block;
            padding: 5px 0px 5px;
        }
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        width: 24px;
        &__line {
            height: 2px;
            width: 20px;
            background: #101112;
            border-radius: 1px;
            &+& {
                margin-top: 3px;
            }
        }
    }
    .banner {
        &__inner {
            display: block;
        }
        &__image-bg img {
            max-width: 628px;
        }
        &__info {
            margin-bottom: 60px;
        }
        &__info-btn {
            padding: 16px 50px;
        }
        &__image {
            text-align: right;
        }
        &__image::before {
            width: 192px;
            height: 192px;
            left: 20px;
            bottom: 10px;
        }
        &__image-qrcode {
            width: 112px;
            height: 112px;
            left: 185px;
            bottom: 20px;
        }
        &__image-qrcode img {
            width: 60px;
            height: 60px;
        }
        &__image-smileyface {
            width: 63px;
            height: 63px;
            right: 90px;
            top: 0;
        }
        &__image-smileyface img {
            width: 46px;
            height: 46px;
        }
    }
    .content-block {
        &__inner {
            display: block;
        }
        &__info,
        &__inner.reverse .content-block__info {
            padding: 0 60px;
            margin-bottom: 40px;
        }
        &__info-link {
            font-size: 16px;
        }
        &__img {
            text-align: center;
            img {
                max-width: 584px;
            }
        }
    }
    .qrcode {
        .title {
            font-size: 36px;
            line-height: 42px;
        }
        &__box:first-child,
        &__box:last-child,
        &__box {
            max-width: 670px;
            margin: 0 0 30px;
        }
        &__box:first-child,
        &__box:last-child {
            .qrcode__box-image {
                max-width: 410px;
                margin: 0 auto 20px;
            }
        }
        &__img-tip-on-qrcode,
        &__img-integration-with-software {
            max-width: 226px;
        }
        &__img-tip-on-the-link {
            max-width: 590px;
        }
        &__img-integration-1 {
            max-width: 252px;
        }
        &__img-integration-2 {
            max-width: 206px;
        }
    }
    .tariffs {
        &__inner {
            display: block;
            position: relative;
            height: 375px;
        }
        &__content {
            max-width: 500px;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            padding: 30px;
        }
        &__content-info {
            max-width: 320px;
        }
        &__content-title {
            font-size: 24px;
            line-height: 32px;
        }
        &__content-link {
            font-size: 16px;
            line-height: 18px;
            padding: 17px 40px;
        }
        &__content-discount {
            font-size: 50px;
            line-height: 63px;
            width: 100px;
            height: 100px;
            margin-left: 20px;
        }
        &__image {
            position: absolute;
            z-index: 1;
            top: 0;
            right: -250px;
            img {
                max-width: 450px;
            }
        }
    }
    .media-about-us .title {
        margin-bottom: 30px;
    }
    .footer {
        &-top {
            justify-content: left;
        }
        &-top__menu+&-top__menu {
            margin-left: 50px;
        }
        &-top__box-contacts {
            flex-basis: 100%;
            margin-bottom: 20px;
        }
        &-top__contacts-list {
            max-width: 350px;
        }
        &-bottom {
            flex-wrap: wrap;
            justify-content: left;
        }
        &-bottom__copyright {
            flex-basis: 100%;
            margin-bottom: 20px;
        }
    }
    .flex-item:nth-of-type(2) {
        order: 1;
    }
}

@media (max-width: 490px) {
    .header {
        .logo {
            margin-left: 10px;
        }
        &__box {
            margin-left: 20px;
        }
        &__btn-login {
            margin-left: 10px;
            min-width: 70px;
        }
    }
    .media-about-us__slider-wrapper {
        margin: 20px auto 50px;
    }
}

@media (max-width: 440px) {
    .media-about-us__slider-wrapper {
        width: 330px;
        min-height: 190px;
    }
}

@media (max-width: 375px) {
    .media-about-us__slider-wrapper {
        width: 300px;
        padding: 20px 20px;
        min-height: 160px;
    }
}